<div>
    <app-menu></app-menu>
</div>
<div class="main">


    <div class="tekstas">
        <h1>My Meme API collection for no apparent reason</h1>
        <p>All of us need a good laugh in our lives from time to time, lets share funny things around here!
            <br>
            <br>
            We will hook you up with professional quality memes!
            <br>
            <br>
            Wanna add yours? feel free to add your best and favorit ones at the Submit page.
            <br>
            <br>
            <br>
            <br>

            <br>
            <br>
        </p>

    </div>
    <div class="bbz">
        <div class="apiWin">
            <p>https://memeapi100.herokuapp.com/</p>
        </div>
        <button type="submit" (click)="getMeme()" class="btn">Click Me!</button>
    </div>
    <div>


        <h4>JSON</h4>
        <div>
            <textarea style="background-color: rgb(219, 219, 219);" class="jsonWin">{{address}}</textarea>

        </div>

        <div class="JSON">
            <div class="photo2">
                <img src="../../../assets/men_in_black_PNG8.png" alt="">
            </div>
            <div class="photo1">
                <img [src]="myPhoto" alt="">
            </div>

        </div>

    </div>

</div>