<div class="menu">
    <div class="centered">
        <H2>Meme API</H2>
        <img src="../../../assets/pngegg.png" height="120px" width="120px" style="margin-bottom: 20px;">
        
        <a href=""><button class="btn" type="button">Main</button>
        <div class="line"></div></a>
        <button class="btn" type="button" onclick="alert('ITS NOT READY YET!')">Documentation</button>
        <div class="line"></div>
        <button class="btn" type="button" onclick="alert('ITS NOT READY YET!')">Submit!</button>
        <div class="line"></div>
        <a href="https://github.com/PauliusCiganas"><button class="btn" type="button">View on GitHub</button></a>
    </div>
</div>